.cardItem {
  padding: 16px;
  background: #FFF;
  margin-bottom: 14px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #E0E0E0;
  box-shadow: 0 1px 2px #E0E0E0;
}
