.feedItem {
  padding: 12px 16px;
  background: #FFF;
  margin-bottom: 14px;
  border-radius: 1px;
  border: 1px solid #E0E0E0;
  box-shadow: 0 1px 2px #E0E0E0;
  max-width: 610px;
}

.commentLinks {
  font-size: 16px;
  padding: 7px 8px;
  color: #9E9E9E;
}
